# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
poetry.toml

# Virtualenv
venv/
ENV/
env/
.venv/
env.bak/

# dotenv
.env

# Anaconda
*.ipynb

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env.*

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS specific files
.DS_Store

# log files
*.log

# Local data
src/data/*
base_urls/*
data/profile_data/*
data/es_profile_urls/*
data/es_profile_data/*
data/es_profile_endpoints/*
data/profile_endpoints/*
src/logs/*

# System files
Thumbs.db
